* {
	margin: 0;
	padding: 0;
	font-family: Georgia, serif;
}

header {
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .title {
	font-size: 30px;
	margin-left: 50px;
}

header .title a {
	text-decoration: none;
	color: black;
}

header .title a:hover {
	cursor: pointer;
}
nav {
	width: 40%;
}
header .menu {
	display: flex;
	margin-right: 50px;
	justify-content: space-around;
}

header .menu .item a {
	font-size: 17px;
	text-decoration: none;
	color: black;
}

.hidden-menu i {
	font-size: 40px;
	text-decoration: none;
	color: black;
}
header .menu .item a:hover {
	cursor: pointer;
	color: gray;
}

header .menu .contactlogo a {
	font-size: 17px;
	text-decoration: none;
	color: black;
}

header .menu .contactlogo a:hover {
	cursor: pointer;
	color: gray;
}
.hidden-menu {
	display: none;
}

.container .myself {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: 10% 10%;
}

.news {
	width: 80%;
	margin: 0 10% 0 10%;
}

.news .news-title {
	font-size: 43px;
	padding: 50px 0 50px 0;
}

.news .news-content {
	display: flex;
	justify-content: space-between;
}

.news .news-content .content {
	width: 32%;
}

.news .news-content .content img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.news .news-content .content .text {
	text-align: center;
}

.news .news-content .content .text .time {
	color: rgb(54, 54, 54);
	font-family: Georgia, serif;
	font-size: 13px;
	margin-top: 15px;
}
.news .news-content .content .text .link-title {
	text-decoration: none;
	color: black;
}

.news .news-content .content .text .title {
	font-family: Georgia, serif;
	font-size: 22.5px;
	margin-top: 15px;
}

.news .news-content .content .text .description {
	font-family: Georgia, serif;
	font-size: 14px;
	margin-top: 15px;
}

.category {
	display: flex;
	width: 80%;
	margin-top: 200px;
	margin-left: 10%;
}

.category .item {
	width: 32vw;
	height: 470px;
	position: relative;
}

.category .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.category .item p {
	position: absolute;
	left: 25%;
	top: 40%;
	font-family: Georgia, serif;
	font-size: 40px;
}

.category .item p a {
	text-decoration: none;
	color: white;
	box-shadow: 0 1px white;
}

.category .item p a:hover {
	color: rgb(233, 233, 233);
}

.LastestVlogs {
	width: 80%;
	margin-left: 10%;
	margin-top: 200px;
}

.LastestVlogs p {
	font-size: 40px;
	margin-bottom: 30px;
}

.LastestVlogs .content {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.LastestVlogs .content iframe {
	width: 49%;
}

.booking {
	width: 100%;
	margin-top: 120px;
	position: relative;
}

.booking img {
	width: 100%;
	height: 475px;
	object-fit: cover;
	object-position: 10% 75%;
}

.booking p {
	position: absolute;
	top: 50%;
	left: 20%;
	font-family: Georgia, serif;
	font-size: 50px;
	color: white;
}

.booking p a {
	text-decoration: none;
	color: white;
	font-style: italic;
	box-shadow: 0 1px white;
}

.footer {
	width: 100%;
	height: 250px;
}

.footer .menu {
	width: 20%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.footer .menu a {
	color: red;
	text-decoration: none;
	box-shadow: 0 1px red;
}

.footer .social-network {
	width: 6vw;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 50px;
}

.footer .social-network a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.footer .social-network a:hover {
	color: rgb(85, 84, 84);
}

.footer .copyright {
	text-align: center;
	margin-top: 50px;
	font-size: 16px;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media all and (max-width: 768px) {
	header {
		position: relative;
	}

	.category .item {
		width: 32vw;
		height: 40vh;
		position: relative;
	}
	.footer .menu {
		width: 40%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}
	.hidden-menu {
		display: block;
		position: absolute;
		right: 10%;
	}
	.hidden-menu a {
		text-decoration: none;
		color: black;
		font-size: 30px;
	}

	header .menu {
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 82vh;
		background-color: white;
		align-items: center;
	}

	nav {
		display: none;
		z-index: 3;
	}

	header .menu .item a {
		font-size: 30px;
	}

	.contactlogo a {
		font-size: 40px;
	}
	.footer .social-network {
		width: 10vw;
	}
}

@media all and (max-width: 600px) {
	.container .myself{
		object-position: 50% 50%;
	}
	.news .news-content {
		flex-direction: column;
	}
	.news .news-content .content {
		width: 100%;
		margin-bottom: 50px;
	}

	.category {
		flex-direction: column;
	}

	.category .item {
		width: 80vw;
		height: 80vh;
		margin-bottom: 30px;
	}

	.LastestVlogs .content{
		flex-direction: column;
	}

	.LastestVlogs .content iframe{
		width: 80vw;
		margin-bottom: 30px;
	}

	.footer .menu{
		width: 80vw;
	}
	.footer .social-network{
		width: 30vw;
	}
}



@media all and (max-width: 320px) {
	.container .myself{
		object-position: 50% 50%;
	}
	.news .news-content {
		flex-direction: column;
	}
	.news .news-content .content {
		width: 100%;
		margin-bottom: 50px;
	}

	.category {
		flex-direction: column;
	}

	.category .item {
		width: 80vw;
		height: 80vh;
		margin-bottom: 30px;
	}

	.LastestVlogs .content{
		flex-direction: column;
	}

	.LastestVlogs .content iframe{
		width: 80vw;
		margin-bottom: 30px;
	}

	.footer .menu{
		width: 80vw;
	}
	.footer .social-network{
		width: 30vw;
	}
}
