// width
.width {
  max-width: $max-width;
  margin: auto;
}
// Background

.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-secondary {
    @include set-background($secondary-color);
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-light {
    @include set-background($light-color);
  }
  &-white {
    @include set-background(#fff);
    border: 1px solid #ccc;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $light-color;
  padding: 0.5rem 1.4rem;
  font-size: 1rem;
  margin-right: 0.3rem;
  transition: all 0.2s ease-in;
  color: #333;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: lighten($color: #333, $amount: 20%);
    color: #fff;
  }

  &-primary {
    @include set-background($primary-color);
    // transition: all 0.5s ease-in;
    &:hover {
      background: lighten($color: $primary-color, $amount: 10%);
    }
  }
}

// Text-style

.text-xl1 {
  font-size: 4rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.text-xl {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.text-base {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.text-xs {
  font-size: 0.5rem;
  margin-bottom: 1rem;
}

.text {
  &-primary {
    color: $primary-color;
  }

  &-white {
    color: #fff;
  }

  &-dark {
    color: $dark-color;
  }
}

.line {
  height: 4px;
  background: linear-gradient(40deg, $primary-color, $dark-color);
  width: 200px;
}
.line-small {
  height: 1px;
  background: #888;
  margin: 1rem 0;
}

// diary

.diary {
  display: flex;
}

.tag_primary {
  color: #fff;
  line-height: 35px;
  padding: 0 10px;
  background-color: #404a53;
  position: relative;
  margin-right: 37px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border: 17px solid;
    border-color: transparent transparent transparent #404a53;
  }
}

.tag_secondary {
  color: #fff;
  padding: 0 10px;
  line-height: 35px;
  background-color: #404a53;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border: 17px solid;
    border-color: transparent transparent transparent #404a53;
  }

  &::before {
    content: "";
    position: absolute;
    border: {
      right: 16px solid #404a53;
      top: 19.5px solid #404a53;
      bottom: 15px solid #404a53;
      left: 17px solid transparent;
    }
    top: 0;
    left: -40%;
  }
}
